/* resetting rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}
h1 {
  font-family: "Inter", sans-serif;
}
.container {
  width: 80%;
  margin: 100px auto;
  padding: 50px;
  font-family: "JetBrains Mono", monospace;
  background-color: #eeeeee;
  color: #000;
}
.container h1 {
  font-family: "Inter", sans-serif;
  border-bottom: 15px;
  margin-bottom: 20px;
}

.form-label {
  width: 150px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}
.form-control {
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  display: inline-block;
}
.mb-15 {
  margin-bottom: 15px;
}

.big {
  font-size: 3rem;
  color: chocolate;
  font-style: italic;
}
