/* resetting rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
}
.container {
  width: 80%;
  margin: 100px auto;
  padding: 50px;
  font-family: "JetBrains Mono", monospace;
  background-color: #eeeeee;
  color: #000;
}
h1 {
  font-family: "Inter", sans-serif;
  border-bottom: 15px;
  margin-bottom: 20px;
  margin-left: 215px;
}
.big {
  font-size: 3rem;
  color: chocolate;
  font-style: italic;
}
form {
  font-family: "Inter", sans-serif;
}
.form-label {
  width: 200px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  display: inline-block;
  font-weight: bold;
  color: #333;
  text-align: right;
  margin-right: 15px;
}
.form-control {
  width: 50%;
  background-color: #eeeeee;
  border: none;
  outline: none;
  border-bottom: 1px dashed #000;
}

.btn-send {
  margin-left: 215px;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #000;
  color: peru;
  bottom: none;
  outline: none;
  font-family: "JetBrains Mono", monospace;
}

.mb-15 {
  margin-bottom: 15px;
}
